*{
	border-radius: 0% !important;	
}
.content-header hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.panel-heading{
	cursor: pointer !important;
}
.btn{
	margin-bottom: 1em !important;
}
.table-responsive div{
	margin: 0% !important;
}
.form-modal{
	display: none;
}
